:root{
    --primary-color-movies: #24baef;
}

.movies-small-navigation{
    padding: 2rem 7rem;
}

.movies-small-navigation span{
    color: white;
}

.movies-small-navigation span i{
    font-size: 18px;
    padding: 5px;
}

.wrapper-movies{
    padding: 2rem 7rem;
    display: flex;
}

.filters{
    display: flex;
    min-width: 320px;
    max-width: 400px;
    height: max-content;
}

.filters-holder{
    display: inherit;
    flex-direction: column;
    background: #1C212E;
    padding: 0 1em;
}

.filters-wrapper{
    display: flex;
    flex-direction: column;
}

.search-input-movies{
    background: #373C49;
    color: white;
    margin: 10px 0;
    border: none;
    border-radius: 0;
}

.search-input-movies:focus{
    background: #373C49;
    outline: #24baef;
    color: white;
}

.search-inside-input-movies{
    width: 48px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    padding: 0 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 5;
}

.filters-wrapper span:first-child{
    color: white;
    font-size: 22px;
    padding: 0.8em 0;
}

.all-categories{
    border-top: 0.2px solid rgb(82, 82, 82);
}

.list-of-categories{
    width: 100%;
    padding: 0.5em 0;
    text-align: start;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
}

.category-list{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 5px 0;
    list-style: none;
    font-size: 18px;
    color: #949cb0;
    cursor: pointer;
}

.category-list i{
    margin-right: 10px;
    font-size: 28px;
}

.category-list .add-icon::before{
    content: '\f14a';
    color: var(--primary-color-movies);
}

.category-list .add-icon-click::before{
    content: '\f14a';
    color: var(--primary-color-movies);
}

.category-list:hover {
    color: var(--primary-color-movies) !important;
}

.all-badges{
    border-top: 0.2px solid rgb(82, 82, 82);
    padding: 1em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-badge{
    padding: 10px 1rem;
    background-color: #161b25;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--primary-color-movies);
    cursor: pointer;
}

.active-badge{
    color: black;
    background: var(--primary-color-movies);
}

.filter-badge:hover{
    color: black;
    background: var(--primary-color-movies);
}

.all-ratings{
    border-top: 0.2px solid rgb(82, 82, 82);
    padding: 1em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ratings-div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 8px 0;
}

.all-star{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.all-star .fa-star{
    color: var(--primary-color-movies);
    font-size: 20px;
    margin: 0 3px;
}

.total-movies-with-ratings{
    color: #949494;
}

.all-movies{
    width: calc(100% - 2rem);
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.sub-title{
    padding: 1rem;
    border-bottom: 0.1px solid #696969;
}

.sub-title span{
    color: white;
    font-size: 25px;
}

.filters-and-latest-div{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.filter-icon{
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}

.filter-icon i{
    padding: 0 0.7em;
    color: #ccc;
}

.dropdown-movies{
    background: none;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 5px;
    font-family: fontAwesome , monospace;
    float: right;
}

.dropdown-movies:focus{
    border: 1px solid rgb(148, 250, 245);
    background: #1C212E;
}

.all-movies-holder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-bottom: 0.1px solid #696969;
}

.movie-card{
    max-width: 250px;
    min-height: 350px;
    margin: 10px;
    background-size: contain;
    box-shadow: 1px 1px 12px #000000, 
                -1px -1px 12px #181717;
}

.movie-image {
    height: calc(100% - 60px);
}

.movie-image img{
    max-width: 100%;
    min-height: 100%;
    cursor: pointer;
}

.movie-info{
    display: flex;
    flex-direction: column;
    padding: 0.1em 0.3em;
    height: 100px;
}

.movie-info span:first-child{
   color: #949494;
   font-size: 14px;
   flex-wrap: wrap;
}

.movie-info span:last-child{
    color: white;
    font-size: 20px;
    font-weight: 600;
 }

 .season-badge{
     background: #17222c;
     padding: 0 3px;
     color: #24baef !important;
     font-size: 14px !important;
 }

.pagination-holder{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.pagination-div{
    display: flex;
    padding: 20px 10px;
}

.previous , .next{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background: #17222c;
    color: #949494;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-number{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background: #17222c;
    color: #949494;
    border-radius: 5px;
    cursor: pointer;
}

.active-pagination{
    background: #24baef;
    color: #000;
    font-weight: 800;
}

.next-page{
    color: #bebebe;
    padding: 0 10px;
    cursor: pointer;

}

.close-side-nav-holder{
    display: none;
}

@media only screen and (max-width: 1200px) {
    .movies-small-navigation{
        padding: 1rem;
    }

    .filter-icon{
        display: block;
    }

    .filters-and-latest-div{
        justify-content: space-between;
    }

    .wrapper-movies{
        padding: 0rem 0.5rem;
    }

    .dropdown-movies{
        padding: 0;
    }

    .all-movies{
        width: 100%;
        margin-left: 0;
    }

    .filters{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        overflow-y: scroll;
        height: 100%;
        width: 100%;
    }

    .filters-holder{
        width: calc(100% - 30px);
    }

    .close-side-nav-holder{
        position: absolute;
        top: 20%;
        right: 0%;
        background: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        z-index: 100;
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }

    .close-side-nav-holder .fa-times{
        border-radius: 50%;
        padding: 3px;
        background: #000;
        color: #fff;
    }

    .filter-badge{
        margin: 5px;
        padding: 10px 0.8em;
    }
}