:root{
    --primary-color-movies: #24baef;
}

.movies-small-navigation{
    padding: 2rem 7rem;
}

.movies-small-navigation span{
    color: white;
}

.movies-small-navigation span i{
    font-size: 18px;
    padding: 5px;
}

.wrapper-movies{
    padding: 2rem 7rem;
    display: flex;
}

.filters{
    display: flex;
    flex-direction: column;
    background: #1C212E;
    padding: 0 1em;
    max-width: 400px;
    min-width: 320px;
    height: max-content;
}

.filters-wrapper{
    display: flex;
    flex-direction: column;
}

.search-input-movies{
    background: #373C49;
    color: white;
    margin: 10px 0;
    border: none;
    border-radius: 0;
}

.search-input-movies:focus{
    background: #373C49;
    outline: #24baef;
    color: white;
}

.search-inside-input-movies{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    position: absolute;
    right: 0px;
    transform: translate(-10px,25px);
    padding: 0 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 5;
}

.filters-wrapper span:first-child{
    color: white;
    font-size: 22px;
    padding: 0.8em 0;
}

.all-categories{
    border-top: 0.2px solid rgb(82, 82, 82);
}

.list-of-categories{
    width: 100%;
    padding: 0.5em 0;
    text-align: start;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
}

.category-list{
    width: 50%;
    color: #696969;
    display: flex;
    align-items: center;
    padding: 12px 0;
    list-style: none;
    font-size: 22px;
    color: #949494;
    cursor: pointer;
}

.category-list i{
    margin-right: 10px;
    color: white;
    font-size: 28px;
}

.category-list i:hover::before{
    content: '\f14a';
    color: var(--primary-color-movies);
}

.category-list:hover {
    color: var(--primary-color-movies);
}

.all-years{
    border-top: 0.2px solid rgb(82, 82, 82);
    padding: 1em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-badge{
    padding: 10px 1em;
    background-color: #161b25;
    margin: 5px 10px;
    color: var(--primary-color-movies);
    cursor: pointer;
}

.filter-badge:hover{
    color: black;
    background: var(--primary-color-movies);
}

.all-ratings{
    border-top: 0.2px solid rgb(82, 82, 82);
    padding: 1em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ratings-div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 8px 0;
}

.all-star{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.all-star .fa-star{
    color: var(--primary-color-movies);
    font-size: 20px;
    margin: 0 5px;
}

.total-movies-with-ratings{
    color: #949494;
}

.all-movies{
    width: calc(100% - 2rem);
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.sub-title{
    padding: 1rem;
    border-bottom: 0.1px solid #696969;
}

.sub-title span{
    color: white;
    font-size: 25px;
}

.filters-and-latest-div{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.filter-icon{
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-icon i{
    padding: 0 0.7em;
    color: #ccc;
}

.dropdown-movies{
    background: none;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 5px;
    font-family: fontAwesome , monospace;
}

.dropdown-movies:focus{
    border: 1px solid rgb(148, 250, 245);
    background: #1C212E;
}

.all-movies-holder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-bottom: 0.1px solid #696969;
}

.movie-card{
    max-width: 250px;
    margin: 5px 10px;
    cursor: pointer;
}

.movie-image img{
    max-width: 100%;
}

.movie-info{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.movie-info span:first-child{
   color: #949494;
   font-size: 14px;
}

.movie-info span:last-child{
    color: white;
    font-size: 20px;
    font-weight: 600;
 }

.pagination-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
}

.pagination-number{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background: #17222c;
    color: #949494;
    border-radius: 5px;
    cursor: pointer;
}

.active-pagination{
    background: #24baef;
    color: #000;
    font-weight: 800;
}

.next-page{
    color: #bebebe;
    padding: 0 10px;
    cursor: pointer;

}

@media only screen and (max-width: 1200px) {
    .movies-small-navigation{
        padding: 2rem 1rem;
    }

    .wrapper-movies{
        padding: 2rem 1rem;
    }

    .filters{
        display: none;
    }
}