#home-glider{
    max-width: 100%;
    height: calc(100vh - 20vh);
    /* background-position: center; */
    background-size: 100% 100%;
    padding: 0;
}

#movie-details-home{
    max-width: 50%;
}

#single-movie-details{
    font-size: 20px;
}

#single-movie-details span{
    word-break: break-all;
}

#movie-single-features-details {
    background-image: linear-gradient(90deg , #000000 , transparent);
}

#image-sliders{
    overflow-x: scroll;
    overflow-y: visible;
    /* padding: 10px 0; */
}

#image-sliders::-webkit-scrollbar{
    display: none;
}

#movie-name-home{
    font-size: 60px !important;
    font-family: 'Archivo Black', sans-serif;
}

#watch-movie{
    background: #24baef;
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    outline: none;
}

#watch-movie:hover{
    background: #0d9fd4;
    box-shadow: 1px 1px 15px #24baef;
}

.image-card-movies{
    width: 180px;
    height: 250px;
    margin: 0px 5px;
    border: none;
}

.image-card-movies img{
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
}

.current-slide{
    border: 3px solid #0d9fd4;
}

.current-slide::after{
    content: '';
    position: relative;
    left: 50%;
    top: -114%;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0d9fd4;
}

#watch-movies-div{
    padding-top: 20px;
}


.home-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem;
}

.inner-home-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
}

.home-headers{
    font-size: 30px;
    color: white;
    font-weight: 200;
    padding: 1rem;
}

.home-videos-glider{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    overflow-x: scroll;
    display: flex;
}

.home-videos-glider::-webkit-scrollbar {
    display: none;
  }

.image-card{
    min-width: 260px;
    max-width: 300px;
    height: 360px;
    margin: 10px;
    background-size: 100% 100%;
    box-shadow: 1px 1px 5px #5e5e5e,
                -1px -1px 5px #5e5e5e;
}

.image-wrapper{
    height: calc(100% - 100px);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image-wrapper img{
    max-width: 100%;
    cursor: pointer;
}

.movie-detail{
    display: flex;
    flex-direction: column;
    padding: 1em 0.3em;
    height: 100px;
}

.movie-span{
    color: #bdbdbd;
    font-size: 14px;
    word-break: break-all;
}

.movie-title{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
}

.banner-label{
    position: relative;
    top: -100%;
    left: 50%;
    transform: translate(-50%,0);
    width: fit-content;
    padding: 1px 8px;
    color: white;
    border-radius: 10px;
    background: #0044ff;
    font-size: 16px;
    margin: 5px 0;
}

.season-badge{
    padding: 0.2em;
    background: #2d3549;
    color: #24BAEF;
    font-size: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0.5em;
    cursor: pointer;
}

@media only screen and (max-width: 1440px) {
.banner-label{
    padding: 1px 5px;
    font-size: 14px;
    margin: 3px 0;
}
.image-card-movies{
    min-width: 100px;
    height: 150px;
    margin: 0px 5px;
}
}

@media only screen and (max-width: 1440px) {
    #movie-details-home{
        max-width: 80%;
    }
    #movie-name-home{
        font-size: 30px !important;
    }
    #single-movie-details{
        font-size: 16px;
    }
    #watch-movie{
        padding: 10px 20px;
        margin: 10px 0;
        font-size: 20px;
        font-weight: 600;
    }
    .image-card-movies{
        width: 100px;
        height: 150px;
        margin: 0px 5px;
    }
    .current-slide::after{
        content: '';
        position: relative;
        top: -124%;
        left: 45%;
        transform: translateX(-45%);
    }
    .home-wrapper{
        padding: 2rem 1rem;
    }
}