#movie-single-banner{
    max-width: 100%;
    height: calc(100vh - 58vh);
    background-position: top;
    background-size: cover;
    padding: 0;
}

#movie-single-banner iframe{
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
}

video{
    cursor: pointer;
}

video:focus{
    outline: none !important;
}

#movie-single-banner img{
    width: fit-content;
    margin: auto;
    height: 100%;
}

#watch-movies-div{
    padding-bottom: 10px;
}

#watch-movie{
    background: #24baef;
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    outline: none;
}

#watch-movie:hover{
    background: #0d9fd4;
    box-shadow: 1px 1px 15px #24baef;
}

.rating-div , .playlist-div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rating-div .fa-star{
    font-size: 50px;
    color: rgb(0, 174, 255);
}

.add-rating{
    background: none;
    outline: none;
    border: none;
    color: #0d9fd4;
}

/* .playlist-div .fa-heart{
    color: transparent;
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(212, 212, 212);
  } */
 .fa.fa-stroke{
    -webkit-text-stroke-color: rgb(212, 212, 212);
    color:transparent;
 }

 .playlist-div span{
     font-size: 15px;
     padding: 0 0.3em;
     color: white;
 }

 .short-details{
     font-size: 18px;
     padding: 1.5rem 0;
 }

 .short-details span:nth-child(odd){
    color: white;
 }
 .short-details span:nth-child(even){
    color: rgb(104, 104, 104);
    padding: 0 20px;
 }


.rating-div .ratings-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin: 0 2px;
}

.rating-div .ratings-wrapper span:nth-child(odd){
    color: rgb(0, 174, 255);
    font-size: 30px;
    font-weight: 600;
}

.rating-div .ratings-wrapper span:nth-child(even){
    color: rgb(104, 104, 104);
    font-size: 16px;
}

.movie-name{
    font-size: 40px;
    font-weight: 700;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.movie-production{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.movie-production span{
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.movie-production span p{
    font-weight: 200;
    font-size: 16px;
    color: white;
}

.stars-wrapper{
    width: 100%;
    display: flex;
}

.stars{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
}

.stars span{
    font-size: 30px;
    color: white;
    font-weight: 200;
    padding: 1rem;
}

.stars-glider{
    position: relative;
    width: 90%;
    overflow-x: hidden;
    padding: 1rem 0;
    overflow-x: scroll;
    display: flex;
}

.stars-glider::-webkit-scrollbar {
    display: none;
  }

.stars-image-card{
    min-width: 250px;
    min-height: 380px;
    display: flex;
    margin: 0px 2em;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.stars-image-card img{
    width: 100%;
    height: 80%;
    position: absolute;
}

.star-detail{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100%;
    transform: translateY(-110%);
}

.star-name{
    font-size: 22px;
    color: white;
    padding: 0;
}

.star-role{
    font-size: 12px;
    color: white;
    padding: 0;
}

.web-navigation{
    padding: 2rem 7rem;
}

.web-navigation span{
    color: white;
}

.web-navigation span i{
    font-size: 18px;
    padding: 5px;
}

.web-details{
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem;
}

.left-part-web{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.episode-details {
    margin: 10px 0;
}

.episode-details span{
    color: rgb(255, 255, 255);
    font-size: 20px;
    flex-wrap: wrap;
}

.current-episode{
    border: 5px solid #49cfff;
}

/* .web-views span{
    color: rgb(156, 156, 156);
    padding: 0 10px 0 0;
    font-size: 18px;
}

.web-views span i{
    padding: 0 5px;
} */

.web-details-more{
    background: #1C212E;
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem;
}

.seasons-row{
    overflow-x: scroll;
    overflow-y: hidden;
}

.seasons-row::-webkit-scrollbar{
    display: none;
}

.season-badge{
    padding: 0.4em 1.4em;
    background: #2d3549;
    color: #24BAEF;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0.5em;
    cursor: pointer;
}

.active-season-badge{
    color: black;
    background: #24BAEF;
}

.description-reviews{
    padding: 2rem 7rem;
}

.header-desp-review{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-desp-review span{
    padding: 0.5em 1em;
    color: #969696;
    font-size: 24px;
    cursor: pointer;
}

.active-tab{
    color: #24BAEF !important;
    border-bottom: 4px solid #24BAEF;
}

.inner-content{
    width: 100%;
    padding: 2em 0;
    color: #969696;
    border-top: 0.3px solid #5c5c5c;
    font-size: 20px;
}

.all-movies-holder{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    border-bottom: 0.1px solid #696969;
}

.all-movies-holder::-webkit-scrollbar{
    display: none;
}

.movie-card{
    min-width: 250px;
    max-width: 280px;
    height: max-content;
    margin: 10px;
    background-size: 100% 100%;
}

.movie-image {
    height: calc(100% - 60px);
}

.movie-image img{
    max-width: 100%;
    min-height: 100%;
    cursor: pointer;
}

.movie-info{
    display: flex;
    flex-direction: column;
    min-height: 60px;
    padding: 0 5px;
    word-break: break-all;
}

.movie-info span{
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 600;
 }

.movie-info span:first-child{
   color: #949494;
   font-size: 14px;
   flex-wrap: wrap;
}

 .episode-badge{
     background: #17222c;
     padding: 0 3px;
     margin: 3px;
     color: #24baef !important;
     font-size: 14px !important;
 }

 /* Reviews */
.image-wrapper{
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #b9ff6c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.reviews{
    border-bottom: 1px solid #4b4a4a;
    margin: 20px 0;
    padding: 10px 0;
    position: relative;
}

.review-menu{
    cursor: pointer;
    position: absolute;
    left: calc(100% - 0.2em);
}

.collapsible {
    color: #49cfff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
  }
  
  .content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #282f40;
  }

@media only screen and (max-width: 1200px) {

    .season-badge{
        padding: 0.8em !important;
        font-size: 10px !important;
    }

    .short-details{
        font-size: 12px;
        padding: 0.5em 0;
    }

    .web-navigation{
        padding: 2rem 1rem;
    }

    .web-details{
        padding: 0;
        justify-content: center;
    }

    .left-part-web{
        width: 100%;
    }

    .rating-div .fa-star{
        font-size: 30px;
    }

    .playlist-div .fa-heart{
        font-size: 25px;
      }

      .rating-div .ratings-wrapper span:nth-child(odd){
        font-size: 22px;
    }

    .ratings-of-movie{
        padding: 10px 0;
    }

    .web-details-more{
        padding: 2rem 1rem;
    }

    .description-reviews{
        padding: 2rem 1rem;
    }

    #watch-movie{
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .episode-details span{
        font-size: 16px;
    }
}