.fa-bars{
    font-size: 28px !important;
    color: #838386;
    font-weight: 100 !important;
}

.custom-navbar{
    background-color: var(--primary-color);
    padding: 20px 0;
}

.nav{
    font-size: 25px !important;
    font-family: Montserrat,"Open Sans",sans-serif;
    font-weight: 100 !important;
    color: rgb(214, 214, 214);
}

#logo{
    font-family: var(--logo-font);
    font-size: 45px;
    color: white !important;
}

.search-input{
    border-radius: 50px !important;
    border: none;
}

#profile-img-small{
    width: 40px;
    height: 40px;
    background: rgb(156, 156, 156);
    border-radius: 50%;
}

.nav-left-side{
    position: relative;
    left: 15%;
    transform: translateX(-15%);
}

.nav-right-side{
    position: relative;
    right: 5%;
    transform: translateX(-5%);
}

.search-inside-input{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: white;
    position: absolute;
    right: 0px;
    transform: translate(-0px,0px);
    padding: 0 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 5;
}

#search:focus{
    background: var(--primary-color);
    border: 2px solid rgb(10, 31, 75);
    color: white;
}

#admin-button{
    font-size: 22px;
    font-weight: 100 !important;
}


@media only screen and (max-width: 1440px) {
    .custom-navbar{
        padding: 0px 0;
    }
    .left-side-nav-second {
     display: none !important;
    }
    .right-side-nav-first{
        display: none !important;
    }
    #search-icon{
        display: flex !important;
        font-size: 18px;
    }
    #profile-img-small{
        width: 30px;
        height: 30px;
    }
    .nav-left-side{
        position: relative;
        left: 5%;
        transform: translateX(-5%);
    }
  }